
#title {
    text-align: center;
    
}

.row {
    padding: 5px;
    margin: 5px;
}


.card {
    text-align: center;
    align-items: center;
    width: auto;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 5px;
    width: fit-content;
    max-width: 100%;
    height: auto;

}



