
#title {
    text-align: center;
    
}

.row {
    padding: 10px;
    margin: 20px;

    
}


.card {
    text-align: center;
    align-items: center;
    width: auto;
}

.container {
    width: fit-content;

}